@charset "utf-8";
[data-dark="true"] body{background-color: #333;}
[data-dark="true"] .header{background-color: #333; border-bottom: 1px solid #3a3b3d;}
[data-dark="true"] .header .nav ul li a{color: #ccc;}
[data-dark="true"] .header .nav ul li.on a{color: #d9d9d9;}
[data-dark="true"] .header .etc i{color: #d9d9d9;}
[data-dark="true"] .header .etc ul li ul li a{color: #d9d9d9;}

[data-dark="true"] .header .nav ul li.on::after,
[data-dark="true"] .header .nav ul li:hover::after{background-color: #d9d9d9;}

[data-dark="true"] .header .etc ul li ul{
    background-color: #272929;
}

[data-dark="true"] .header .etc ul li ul i{
    background-color: #272929;
}

[data-dark="true"] .header .etc ul li ul li a{
    background-color: #272929;
}
[data-dark="true"] .footer-content{
    background-color: #333;
    border-top: 1px solid #3d3d3d;
}
[data-dark="true"] .footer-content p{
    color: #d9d9d9;
}
[data-dark="true"] .type a{
    background-color: #272929;
    color: #d9d9d9;
    border-color: #3d3d3d;
}
[data-dark="true"] #typed1{
    color: #d9d9d9;
}

[data-dark="true"] .m-btn .line{
    background-color: #272929;
}

[data-dark="true"] .m-nav{
    background-color: #272929;
}
[data-dark="true"] .m-nav .pic p,
[data-dark="true"] .m-nav ul li a{
    color: #d9d9d9;
}
[data-dark="true"] .m-nav ul li{
    border-color: #3d3d3d;
}
[data-dark="true"] .font-box .icon{
    background-color: #272929;
border-color: #3d3d3d;}
[data-dark="true"] .font-box .icon i{
    color: #d9d9d9;
}
[data-dark="true"] .font-box ul{
    background-color: #272929;
}
[data-dark="true"] .font-box ul li a {
    color: #d9d9d9;
}



/* 프로필 다크모드 */

[data-dark="true"] .content .content-wrap{
    border-color: #3d3d3d;
    background-color: #272929;
}
[data-dark="true"] .content .title h3{
    color: #d9d9d9;
}
[data-dark="true"] .content .title h3::after{
    background-color: #272929;
}

[data-dark="true"] .about-content{
    border-color: #3d3d3d;
    background-color: #272929;
}
[data-dark="true"] .about-content p,
[data-dark="true"] .about-content span,
[data-dark="true"] .about-content h3{
    color: #d9d9d9;
}
[data-dark="true"] .swiper.design-swiper{
    border-color: #3d3d3d;
    background-color: #272929;
}

[data-dark="true"] .work-content {
    border-color: #3d3d3d;
    background-color: #272929;
}
[data-dark="true"] .work-content p{color: #d9d9d9;}
[data-dark="true"] .work-content h3{color: #d9d9d9;}

[data-dark="true"] .work-content .work-desc .btn-wrap li{color: #d9d9d9;}
[data-dark="true"] .work-content .work-desc .btn-wrap li a{color: #333;}

[data-dark="true"] .contact-content{
    border-color: #3d3d3d;
    background-color: #272929;
}
[data-dark="true"] .contact-content p{
    color: #d9d9d9;
}
[data-dark="true"] .contact-content i{
    color: #d9d9d9;
}
[data-dark="true"] .section{
    background-color: #272929 !important;  }
[data-dark="true"] .swiper,
[data-dark="true"] .design-swiper{
    background-color: #272929;

}

[data-dark="true"] .swiper.web-swiper{
    border-color: #3d3d3d;
    background-color: #272929;
}
[data-dark="true"] .web-swiper h3,
[data-dark="true"] .design-work-content .work-desc h3,
[data-dark="true"] .design-work-content .work-desc p,
[data-dark="true"] .web-swiper p,
[data-dark="true"] .web-swiper a,
[data-dark="true"] .design-work-content .work-des a{
    color: #d9d9d9;
}